<div class="container-fluid py-2 md-10">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Lista de Vehículos</h1>
        <a routerLink="/administracion/crear-vehiculo">Registrar vehículo</a>
        <table class="table lg-11">
            <thead>
                <tr>
                    <th>Descripción</th> 
                    <th>Tipo</th>
                    <th>Foto</th>
                    <th>Enlace video</th>
                    <th>Estado</th>
                    <th>Valor alquiler</th>
                    <th>Nombre encargado</th>
                    <th>Contacto encargado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of listadoVehiculos" id="{{v.id}}">
                    <td>{{v.descripcion}}</td>
                    <td>{{v.tipo}}</td>
                    <td><img class="imagenVehiculo" src="{{v.ruta_foto}}"/></td>
                    <td>{{v.enlace_video}}</td>
                    <td>{{v.estado}}</td>
                    <td>{{v.valor_alquiler}}</td>
                    <td>{{v.nombre_encargado}}</td>
                    <td>{{v.contacto_encargado}}</td>
                    <td><a routerLink="/administracion/editar-vehiculo/{{v.id}}">Editar</a></td>
                    <td><a href="javascript:void(0)" (click)="confirmarEliminacion(v.id ? v.id : '')">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>